.flex-container{
    display: flex;
    align-items: center;
    background-color: dodgerblue;
    height: 200px;
}

.flex-container > div{
    background-color: #f1f1f1;
    margin: 10px;
    padding: 20px;
    width: 100px;
    line-height: 75px;
    text-align: center;
    font-size: 30px;
}